.main a {
    display: inline-block;
    padding: 10px 20px;
    background: #5656cd;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px
}
.main a:hover {
    background: #8989ff;
    color: #555;
    font-size: 20px
}
/*设置盒子样式*/
.container, .footer, .header, .nav
{
    width: 100%;
    box-sizing: border-box;
}
.header
{
    background: #8989ff;
    padding: 20px;
    display: inline-block;
}
/*导航栏*/
.nav {
    position: -webkit-sticky;/* 为残障浏览器而准备的，不用慌，不要shan */
    position: sticky;
    top: 5px;
    background-color: #6767de;
    height: 100px;
    display: flex;
    justify-content: space-around;
    width: 70%;
    border-radius: 50px;
    padding: 10px;
    background-color: #5656cd;
}
.nav div
{
    width: 75%;
    height: 60%;
    display: flex;
    justify-content: center;
    float: left;
}
.nav div a
{
    text-align:center;
}
#nav-elaborate
{
    width: 100px;
    height: 50px;
    display: inline-block;
}
.nav a
{
    color: #fff;
    padding: 10px 20px;
    display:inline-block; 
    vertical-align:middle;
    font-size: 20px;
}
/*设置鼠标选择时的样式*/
.nav div :hover
{
    background: #8989ff;
    color: #fff;
}


/*等待效果*/
#loader {
    border: 12px solid #a2ac1f4;
    border-radius: 50%;
    border-top: 12px solid #5374ce;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*其他私有ID或Class*/
button {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
#products {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
.fly-fish {
    background-color: #5656cd;
    color: #8989ff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    animation: typing 10s infinite;
    background: linear-gradient(to right, #333, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: typing 10s infinite;
    background-size: 200% 100%;
}
#ILikeFish-mc {
    color: #5656cd;
    font-family: Arial, sans-serif;
    font-size: 16px;
    animation: typing 10s infinite;
    background: linear-gradient(to right, #333, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: typing 10s infinite;
    background-size: 200% 100%;
}
#fps {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    background-color: #000080;
    padding: 10px;
    border-radius:3px
}
.footer {
    background: #8989ff;
    text-align: center;
    height: 0; /* 设置一个固定的高度 */
    position: absolute; /* 确保footer元素在页面中的位置正确 */
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: #ccccff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.countdown {
    font-size: 30px;
    font-weight: bold;
}
