*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131417;
    background-image: linear-gradient(315deg, #131417 0%, #1e1f26 74%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.box{
    position: relative;
    display: flex;
    width: 320px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.content{
    position: relative;
    left: 0;
    padding: 20px 40px;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transition: 0.5s;
}

.content h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.content p{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.content a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
    transition: 0.6s;
}

.box:hover .content{
    left: -25px;
    padding: 60px 40px;
}

.content a:hover{
    background: #222;
    color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 15px #222;
}

.box::before{
    content: "";
    position: absolute;
    background: #fff;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.box::after{
    content: "";
    position: absolute;
    background: #fff;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.box:hover::before,
.box:hover::after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.box:nth-child(1)::before,
.box:nth-child(1)::after{
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.box:nth-child(2):before,
.box:nth-child(2):after{
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

/*第三个
.box:nth-child(3):before,
.box:nth-child(3):after{
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}
*/

.box span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.box span::before{
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.3s;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation: animate 2s ease-in-out infinite;
}

.box:hover span::before{
    opacity: 1;
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
}

.box span::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.5s;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation: animate 2s ease-in-out infinite;
    animation-delay: -1s;
}

.box:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.glass:hover glassBackground {
	animation: fromUntilInclined 1s;
}
@keyframes animate {
    0%,
    100%{
        transform: translateY(10px);
    }
    50%{
        transform: translate(-10px);
    }
}
.page1 {
	height: 100%;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131417;
    background-image: linear-gradient(315deg, #131417 0%, #1e1f26 74%);
}
/*设置页脚样式*/
.footer
{
    width: 100%;
    box-sizing: border-box;
}
/* 装饰用的球 */
decorateBall1, decorateBall2, decorateBall3 {
    position: relative;
    height: 30px;
	width: 30px;
	border-radius: 100%;
    background-image: linear-gradient(to bottom right, deepskyblue , dodgerblue);
}
decorateBall1 {
    animation: ball1 1s;
}
decorateBall2 {
    animation: ball2 1s;
}
decorateBall3 {
    animation: ball3 1s;
}
@keyframe ball1 {
    0% {
        top: -20px;
        left: -10px;
        transform: rotate(0deg);
    }
    30% {
        top: 30px;
        left: 0px;
        transform: rotate(108deg);
    }
    90% {
        top: 35px;
        left: 15px;
        transform: rotate(324deg);
    }
    100% {
        top: 35px;
        left: 40px;
        transform: rotate(360deg);
    }
}
@keyframe ball2 {
    0% {
        top: 110%;
        left: 160%;
        transform:rotate(0deg);
    }
    30% {
        top: 90%;
        left: 100%;
        transform: rotate(108deg);
    }
    100% {
        top: 75%;
        left: 70%;
        transform: rotate(360deg);
    }
}
@keyframe ball3 {
    0% {
        top: 100%;
        left: -10px;
        transform: rotate(0deg);
    }
    30% {
        top: 90%;
        left: 0px;
        transform: rotate(108deg);
    }
    90% {
        top: 85%;
        left: 15px;
        transform: rotate(324deg);
    }
    100% {
        top: 75%;
        left: 40px;
        transform: rotate(360deg);
    }
}

/*等待效果*/
#loader {
    border: 12px solid #a2ac1f4;
    border-radius: 50%;
    border-top: 12px solid #5374ce;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*其他私有ID或Class*/
form {
    display: flex;
    flex-direction: column;
}
.fly-fish {
    background-color: #f3f4f5;
    color: #f3fff3;
    font-family: Arial, sans-serif;
    font-size: 16px;
    animation: typing 10s infinite;
    background: linear-gradient(to right, #333, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: typing 10s infinite;
    background-size: 200% 100%;
}
#ILikeFish-mc {
    color: #5656cd;
    font-family: Arial, sans-serif;
    font-size: 16px;
    animation: typing 10s infinite;
    background: linear-gradient(to right, #333, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: typing 10s infinite;
    background-size: 200% 100%;
}
#fps {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    background-color: #131480;
    padding: 10px;
    border-radius:3px
}
.footer {
    background: #8989ff;
    text-align: center;
    height: 0; /* 设置一个固定的高度 */
    position: absolute; /* 确保footer元素在页面中的位置正确 */
    bottom: 0;
    left: 0;
    right: 0;
}

.countdown {
    font-size: 30px;
    font-weight: bold;
}
/* 作品廊 */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
	perspective: 1000px;
	font-family: Arial, sans-serif;
}

#gallery-container {
    position: absolute;
    width: 100%;
	height: 100%;
    transform-style: preserve-3d;
    animation: rotate 40s infinite linear;
}
        
.photo {
    position: absolute;
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 0.5s, box-shadow 0.5s;
    cursor: pointer;
}
        
.photo:hover {
    transform: scale(1.1) !important;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    z-index: 100;
}
        
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
        
.photo .caption {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
        
.photo a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}
        
@keyframes rotate {
    0% {
        transform: rotateY(0deg) rotateX(10deg);
    }
	100% {
        transform: rotateY(360deg) rotateX(10deg);
	}
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --left-position: 55%;
  --transition-time: 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111111;
}

/* carousel */
.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel .list .item {
  width: 180px;
  height: 250px;
  position: absolute;
  bottom: 150px;
  left: calc(var(--left-position) + 3%);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.7);
  background-position: center;
  background-size: cover;
  z-index: 100;
  transform: translate(0, 0px);
  transition: all var(--transition-time);
}

.carousel .list .item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.5);
  z-index: 1;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2) {
  bottom: 0px;
  left: 0;
  border-radius: 0;
  transform: translate(0, 0px);
  width: 100%;
  height: 100%;
}

.carousel .list .item:nth-child(3) {
  left: var(--left-position);
}

.carousel .list .item:nth-child(4) {
  transition-delay: 0.1s;
  left: calc(var(--left-position) + 200px);
}

.carousel .list .item:nth-child(5) {
  transition-delay: 0.2s;
  left: calc(var(--left-position) + 400px);
}

.carousel .list .item:nth-child(6) {
  transition-delay: 0.3s;
  left: calc(var(--left-position) + 600px);
}

.carousel .list .item:nth-child(n + 7) {
  transition-delay: 0.4s;
  left: calc(var(--left-position) + 800px);
}

.list .item .content {
  position: absolute;
  text-align: left;
  color: #fff;
  z-index: 3;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  width: 100%;
  padding: 10px;
  transition: all var(--transition-time);
}

.content .title::before {
  content: "";
  display: block;
  height: 1px;
  width: 20px;
  background-color: #fff;
  margin-bottom: 10px;
}

.content .title {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  transition: all var(--transition-time);
  position: relative;
}

.content .title::after {
  content: attr(data-item);
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: 0px;
  z-index: 2;
  font-weight: 400;
}

.content .name {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: all var(--transition-time);
  margin-bottom: 10px;
  color: #d36e10;
}

.content .des {
  font-size: 16px;
  font-weight: 400;
  transition: all var(--transition-time);
  opacity: 0;
  display: none;
}

.list .item:nth-child(1) .content,
.list .item:nth-child(2) .content {
  transform: translateY(-50%);
  left: 100px;
  width: 600px;
  top: 50%;
  padding: 0;
}

.list .item:nth-child(1) .content .title::before,
.list .item:nth-child(2) .content .title::before {
  width: 50px;
  height: 3px;
  margin-bottom: 20px;
}

.list .item:nth-child(1) .content .title::after,
.list .item:nth-child(2) .content .title::after {
  font-size: 25px;
  top: -40px;
  left: 15px;
}

.list .item:nth-child(1) .content .title,
.list .item:nth-child(2) .content .title {
  font-size: 50px;
  margin-bottom: 20px;
}

.list .item:nth-child(1) .content .name,
.list .item:nth-child(2) .content .name {
  font-size: 20px;
  margin-bottom: 20px;
}

.list .item:nth-child(1) .content .des,
.list .item:nth-child(2) .content .des {
  font-size: 16px;
  opacity: 1;
  display: block;
  width: 400px;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

/* Carousel */
.carousel {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height carousel */
  overflow: hidden;
}

.list {
  display: flex;
  transition: transform var(--transition-time);
  width: 100%;
}

.item {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.content {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.name {
  font-size: 25px;
  margin-bottom: 10px;
}

.des {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 18px;
  height: 18px;
}

/* next prev arrows */
.arrows {
  position: absolute;
  bottom: 50px;
  left: var(--left-position);
  width: calc(100% - var(--left-position) - 2%);
  z-index: 100;
  display: flex;
  gap: 5%;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  font-size: 25px;
  font-weight: bold;
  transition: all var(--transition-time);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrows button:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.slide-number {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  margin-left: auto;
  letter-spacing: 5px;
  opacity: 0;
  animation: animateA 0.5s ease-in-out 0.3s 1 forwards;
}

.progress-bar-container {
  width: 60%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 100%;
  background-color: #d36e10;
  transition: all var(--transition-time);
}
@keyframes animateA {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
