body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#chatbox {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 5px 0;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
    animation: zoomInOut 2s infinite;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1); /* 初始状态，缩放比例为1 */
  }
  100% {
    transform: scale(2); /* 动画结束状态，缩放比例为1.5 */
  }
}
