* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}
a {
    text-decoration: none; /* 取消下划线 */
}
h1, h2 {
    text-align: center;
}
