.fas.fa-search, .fas.fa-home {
    display: none !important;
    padding: 0.1rem;
    color: azure;
    border-bottom: none;
}
.controls :hover {
    display: block;
    background-color: rgba(240, 240, 240, 0.35);
    border-radius: 3px;
    width: 1.2rem;
    height: 2.4rem;
}
